@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Hind+Madurai:wght@300&family=Roboto:wght@700&display=swap');
:root{
	font-size: 14px;
	font-family: 'Hind Madurai', sans-serif;
}

body{
	display: block;
	margin: 0;
	padding: 0;
	color: black;
	width: 100%;

	background-color: #ffffff;
	background-image: url(../img/always-grey-1920x1080.png);

}

.index{
		background-color: rgba(225,225,225,1 );
}

h1{
	font-family: 'Alata', sans-serif;
}

h2{
	font-family: 'Roboto', sans-serif;
}

/*Scrollbar//////////////////////////////////////////////////////////////*/
body::-webkit-scrollbar {
 width: 0.5rem;
}

body::-webkit-scrollbar-track {
 background-color: rgba(200,200,200,.8 );
}

body::-webkit-scrollbar-thumb {
background-color: gray;
 
}

/*BARRA SUPERIOR//////////////////////////////////////////////////////////////*/

div.topnav{
	margin-right: 2rem;
	display: flex;
	font-size: .7rem;
	font-family:Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	background-color: rgba(200,200,200,1 );
	width: 100%;
	height: 2rem;
	padding: 0px;
	/*Acomoda los elementos verticalmente */
	align-items:center;
	/*Acomoda los elementos horizontalmente */
	justify-content:flex-end;	
}
.topnav a{
	text-decoration: none;
	color: rgba(100,100,100,1);
	padding-top: .2rem;
	padding-bottom: .2rem;
	padding-left:.8rem;
	padding-right: .8rem;
	border-radius: 5% 5% 5% 5%;
}



.topnav a:hover{
	color: chocolate;	
}

/*BANNER//////////////////////////////////////////////////////////////*/
.banner{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%, 8rem;
	background-position:left;
	width: 100%;
	height: 8rem;
	object-fit: cover;
	padding: 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color:whitesmoke;
	text-shadow: 3px 3px rgba(0,0,0,.4);
}

a{
	color: chocolate;
}

a:visited{
	color: darkslategray;
}

a:hover{
	color: firebrick;
}



/*NAV//////////////////////////////////////////////////////////////*/

#navbar{
	background-color: rgba(200,200,200,.95 );
	width: 100%;
	height: auto;
	display: block;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	padding-top: .2rem;
	padding-bottom: .2rem;
	z-index: 1;
	overflow: hidden;
  	
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.lista {
	display: block;
}
#navbar li{
    float: left;
}

#navbar li a{
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
	color: black;
	border-radius: 5px;
}
#navbar li a:hover{
    background-color:black;
    color:chocolate;
}


.myicono {
    display: none;
}

#navbar li.active a{
	color:grey;
}


.logo{
	padding-left:  3rem;
	margin: .5rem;
	float: left;
}

.logo img{
	height: 3rem;
	width: auto;
	transition: opacity 200ms ease;

}

.logo img:hover{
	opacity: .5;	
}

.list-drop ul{
display: none;
}

.list-drop:hover ul{
display: block;
}




/*Content//////////////////////////////////////////////////////////////*/

img{
    width: 100%
}

#content {    
    max-width: 1180px;
    position: relative;
    top: 2rem;
	margin: 0 auto;
	z-index: -1;
	text-align: justify;
}
#content header{    
	height: 120px;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 1em;
}


section{
	width: 100%;
	margin:0;
	padding: 10px;
	float: left;
}

#principal{
	width: 48%;
}

#secundario{
	width: 48%;
}


aside{
	width: 100%;
	float: left;
	margin: 0px;
	padding: 10px;
}

.sideimg{
	float: right;

}

.sideimg img{
	width: 60%;
}


.sect{
	width: 100%;
}



/*Footer//////////////////////////////////////////////////////////////*/
footer{
	background-color: rgba(200,200,200,1 );
	width: 100%;
	height: 4rem;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

footer div{
	padding-left: 2rem;
	padding-right: 2rem;
}

/*MEDIA//////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 600px) {
	div.topnav{
		justify-content: space-around;
		overflow: auto;
		text-align: center;
	}


	#content header{
		width: 100;
		border-radius: 0;
		margin: 0;
		align-items: center;
	}
	
	#principal{
		width: 95%;
	}

	#secundario{
		width: 95%;
	}


	section {
	  width: 95%;
	}

	aside{
	  width: 95%;;
	}

	#navbar{
		display: block;
		height: 100%;
	}
	.myicono {
		color:black;
		font-size: 1.5em;
		padding: 10px;
		display: block;
		text-align: right;
	}

	.myicono:hover
	{
		color: chocolate;
	}

	.lista{
	display: none;
	}


	.drop{
		background-color: rgba(255,255,255,.9 );
	}


	#navbar li{
		width: 100%;
		float: none;
		display: block;
		height: auto;
		padding: 0;
		margin: 0;
	}

	#navbar li a{
		display: inline-block;
		padding: 1rem;
		width: 100%;
		background-color: rgba(220,220,220,.9 );
		border-radius: 0;		
	}

	#navbar li a:hover{
		display: inline-block;
			width: 100%;
		color: chocolate;
		 border-radius: 0;
		 
	}

	.logo{
		padding-left:  1rem;
		float: left;
	}
	
	.logo img{
		height: 3rem;
		width: auto;
		transition: opacity 200ms ease;
	
	}


  }



